@model CattyWebLibrary.Models.Binding.AddVisitBindingModel
@{
    ViewData["Title"] = "Create Visit";
}

<h1>Create New Visit for @ViewBag.CatName</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateVisit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VetID" class="control-label"></label>
                <select asp-for="VetID" class="form-control">
                    @foreach (var vet in Model.Vets)
                    {
                        <option value="@vet.ID">@vet.Name</option>
                    }
                </select>
                <span asp-validation-for="VetID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Visits">Back to All Visits</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}